.character-card {
  background: #fafafa;
  width: 18rem;
  height: 24rem;
  padding: 1.4rem 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  transition: all 0.4s ease;
  border-radius: 10px;
}

.character-card:hover {
  filter: grayscale(0%);
  transform: translateY(-0.4rem);
  box-shadow: 0px 6px 8px #0006;
}

.character-name {
  margin: 1rem;
  color: #fafafa;
  font-weight: bolder;
  font-size: 1.3rem;
  text-shadow: 0px 0px 10px #000;
  transition: all 0.4s ease;
  text-shadow: 1px 2px 2px #000a;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.character-card button {
  background-color: #fff;
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #ed1d24;
  cursor: pointer;
  transition: all 0.4s ease;
}

.character-card button::first-letter {
  text-transform: uppercase;
}

.character-card button:hover {
  color: #fff;
  background-color: #ed1d24;
}
