.character-card {
  background: #fafafa;
  width: 20rem;
  height: 26rem;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  transition: all 0.4s ease;
  border-radius: 10px;
}

.character-card:hover {
  filter: grayscale(0%);
  transform: translateY(-0.8rem);
}

.character-card:hover > .character-name {
  font-size: 1.4rem;
}

.character-name {
  margin: 1rem;
  color: #fafafa;
  font-weight: bolder;
  font-size: 1.2rem;
  text-shadow: 0px 0px 10px #000;
  transition: all 0.4s ease;
}
